/* src/index.css */

/* Importa as diretivas base do Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais para o corpo da página */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que o html e o body ocupem 100% da altura da viewport */
  width: 100%;  /* Garante que o html e o body ocupem 100% da largura da viewport */
  font-family: 'Inter', sans-serif; /* Define a fonte Inter como padrão */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8F8174; /* Define a cor de fundo principal para toda a página */
  overflow-x: hidden; /* Evita rolagem horizontal indesejada */
}

/* Garante que o elemento raiz do React também ocupe 100% da altura */
#root {
  height: 100%;
  width: 100%;
}

/* Você pode adicionar outros estilos globais aqui, se necessário */
